
.nav-btn{
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-width: .4px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.shadow1{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10,0,0,0);
}

.nav-btn:hover{
    -fx-background-color: #ffffff;
    -fx-text-fill: #000;
}

.logout{
    -fx-background-color: transparent;
    -fx-padding: 5px;
    -fx-cursor: hand;
    -fx-background-radius: 0px;
}
.backButton:hover{
    -fx-background-color: #C40C0C;
}

.transparentAnchorPane {
    -fx-background-color: rgba(21, 52, 72, 0.47); /* Fully transparent background */
}

.background{
    -fx-background-color: rgba(21, 52, 72, 0.47);
}

/*pane wala line wala color wenas karanna*/
.line-color{
    -fx-background-color: #b420c4;
}

/*wate raum wela patak watenawa*/
.container{
    -fx-background-color: rgba(21, 52, 72, 0.47);
    -fx-background-radius: 10;
}

/*shadow ekak watenawa */
.shadow{
    -fx-effect: dropShadow(tree-pass-box, rgb(180, 32, 196),10.0,0.0,0.0,10.0);
}

.button:hover{
    -fx-background-color: rgba(69, 71, 75, 0.27);
}

.background1{
    -fx-background-color: #EEF5FF;
}