
.nav-btn{
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-width: .4px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.shadow1{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10,0,0,0);
}

.nav-btn:hover{
    -fx-background-color: #ffffff;
    -fx-text-fill: #000;
}

.logout{
    -fx-background-color: transparent;
    -fx-padding: 5px;
    -fx-cursor: hand;
    -fx-background-radius: 0px;
}
.backButton:hover{
    -fx-background-color: #C40C0C;
}

.transparentAnchorPane {
    -fx-background-color: rgba(21, 52, 72, 0.47); /* Fully transparent background */
}

.background{
    -fx-background-color: rgba(21, 52, 72, 0.47);
}

/*pane wala line wala color wenas karanna*/
.line-color{
    -fx-background-color: #b420c4;
}

/*wate raum wela patak watenawa*/
.container{
    -fx-background-color: rgba(21, 52, 72, 0.47);
    -fx-background-radius: 10;
}

/*shadow ekak watenawa */
.shadow{
    -fx-effect: dropShadow(tree-pass-box, rgb(180, 32, 196),10.0,0.0,0.0,10.0);
}

.button:hover{
    -fx-background-color: rgba(69, 71, 75, 0.27);
}

.background1{
    -fx-background-color: #EEF5FF;
}


.button {
    -fx-background-color: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 80%);
    -fx-background-color: rgb(5, 86, 114);
    -fx-padding: 0.7em; /* You can adjust this value according to your preference *!*/
    -fx-animation: button-shimmer 2s infinite; /* Assuming you have defined the animation separately *!*/
    -fx-transition: all 0.3s ease-in-out;
    -fx-text-fill: rgb(255, 255, 255);
}

.button:hover {
    -fx-animation: button-particles 1s ease infinite;
    -fx-translate-y: -2px;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-background-color: rgba(123, 148, 241, 0.47);
}

@keyframes button-particles {
    0% {
        -fx-opacity: 1;
    }
    50% {
        -fx-opacity: 0.5;
        -fx-scale-x: 1.1;
        -fx-scale-y: 1.1;
    }
    100% {
        -fx-opacity: 1;
    }
}